mixin Item(item)
    a(href="#" class="section-3__item")
        div(class="section-3__image mb-[20px] rounded-[20px] truncate")
            img(src=item.img, alt="" class="object-cover")
        div(class="section-3__name font-[700] text-[18px] text-primary mb-[10px]") Áo Thun Nam Đơn Giản 
        div(class="section-3__feedback flex gap-[13px] items-center mb-[10px]")
            div(class="section-3__star flex gap-[5px] text-[#FFC633]")
                - for(var i = 1 ; i <= item.stars ; i++)
                    <i class="fa-solid fa-star"></i>
                - for(var i = item.stars + 1 ; i <= 5 ; i++)
                    <i class="fa-regular fa-star"></i>
            div(class="section-3__score font-[400px] text-[#00000099]") #{item.stars}/5
        div(class="section-3__price flex flex-wrap gap-[10px] items-center")
            div(class="section-3__newPrice font-[700] text-[18px] text-primary") #{item.price}đ
            if(item.oldPrice)
                div(class="section-3__oldPrice font-[700] text-[14px] text-[#00000066] line-through") 600000đ
                div(class="section-3__promotion py-[6px] px-[12px] bg-[#FF33331A] text-[#FF3333] text-[12px] font-[500] rounded-[62px]") -20%                